<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="shapet is a Induction Company">
    <meta name="keywords" content="shapet admin panel">
    <meta name="author" content="Decoders">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>SHAPET Client Dashboard || Generate-report</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="assets/images/logo.jpg" type="image/x-icon" />
    <!-- Start css -->
    <!-- Switchery css -->
    <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet">
    <!-- Apex css -->
    <link href="assets/plugins/apexcharts/apexcharts.css" rel="stylesheet">
    <!-- Slick css -->
    <link href="assets/plugins/slick/slick.css" rel="stylesheet">
    <link href="assets/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/flag-icon.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/css/sylesheet.css" rel="stylesheet" type="text/css">
    <!-- End css -->
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    .print-button {
        margin-top: 8px;
        padding: 10px 20px;
        background-color: #ff1e1e;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<body class="vertical-layout">
    <!-- Start Infobar Setting Sidebar -->
    <div id="infobar-settings-sidebar" class="infobar-settings-sidebar">
        <div class="infobar-settings-sidebar-head d-flex w-100 justify-content-between">
            <h4>Settings</h4><a href="javascript:void(0)" id="infobar-settings-close"
                class="infobar-settings-close"><span class="iconbar"><i
                        class="ri-close-line menu-hamburger-close"></i></span></a>
        </div>
        <div class="infobar-settings-sidebar-body">
            <div class="custom-mode-setting">
                <div class="row align-items-center pb-3">
                    <div class="col-8">
                        <h6 class="mb-0">Popup Notification</h6>
                    </div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-first" checked /></div>
                </div>
                <div class="row align-items-center pb-3">
                    <div class="col-8">
                        <h6 class="mb-0">Message Sound</h6>
                    </div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-second" checked /></div>
                </div>
                <div class="row align-items-center pb-3">
                    <div class="col-8">
                        <h6 class="mb-0">Generate Report</h6>
                    </div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-third" /></div>
                </div>
                <div class="row align-items-center pb-3">
                    <div class="col-8">
                        <h6 class="mb-0">Email Statement</h6>
                    </div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-fourth" checked /></div>
                </div>
                <div class="row align-items-center pb-3">
                    <div class="col-8">
                        <h6 class="mb-0">Invoice PDF</h6>
                    </div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-fifth" checked /></div>
                </div>
                <div class="row align-items-center pb-3">
                    <div class="col-8">
                        <h6 class="mb-0">Add Users</h6>
                    </div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-sixth" /></div>
                </div>
                <div class="row align-items-center pb-3">
                    <div class="col-8">
                        <h6 class="mb-0">Show Sidebar</h6>
                    </div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-seventh" checked /></div>
                </div>
                <div class="row align-items-center">
                    <div class="col-8">
                        <h6 class="mb-0">Sticky Topbar</h6>
                    </div>
                    <div class="col-4"><input type="checkbox" class="js-switch-setting-eightth" checked /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="infobar-settings-sidebar-overlay"></div>
    <!-- End Infobar Setting Sidebar -->
    <!-- Start Containerbar -->
    <div id="containerbar">

        <!-- Start Leftbar -->
        <div class="leftbar">
            <!-- Start Sidebar -->
            <div class="sidebar">

                <div class="topbar-mobile">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="mobile-logobar">
                                <a href="index.html" class="mobile-logo"><img src="assets/images/logo.jpg"
                                        class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="mobile-togglebar">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <div class="topbar-toggle-icon">
                                            <a class="topbar-toggle-hamburger" href="javascript:void();">
                                                <span class="iconbar">
                                                    <i class="ri-more-fill menu-hamburger-horizontal"></i>
                                                    <i class="ri-more-2-fill menu-hamburger-vertical"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="menubar">
                                            <a class="menu-hamburger" href="javascript:void();">
                                                <span class="iconbar">
                                                    <i class="ri-menu-2-line menu-hamburger-collapse"></i>
                                                    <i class="ri-close-line menu-hamburger-close"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Topbar -->
                <div class="topbar">
                    <!-- Start row -->
                    <div class="row align-items-center">
                        <!-- Start col -->
                        <div class="col-md-12 align-self-center">
                            <div class="togglebar">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <div class="menubar">
                                            <a class="menu-hamburger" href="javascript:void();">
                                                <span class="iconbar">
                                                    <i class="ri-menu-2-line menu-hamburger-collapse"></i><i
                                                        class="ri-close-line menu-hamburger-close"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="searchbar">
                                            <form>
                                                <div class="input-group">
                                                    <input type="search" class="form-control" placeholder="Search"
                                                        aria-label="Search" aria-describedby="button-addon2">
                                                    <div class="input-group-append">
                                                        <button class="btn" type="submit" id="button-addon2"><i
                                                                class="ri-search-line"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="infobar">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <div class="languagebar">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="languagelink"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><span class="iconbar iconbar-md"><i
                                                            class="flag flag-icon-us flag-icon-squared"></i></span></a>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="languagelink">
                                                    <a class="dropdown-item" href="#"><i
                                                            class="flag flag-icon-us flag-icon-squared"></i>English</a>
                                                    <a class="dropdown-item" href="#"><i
                                                            class="flag flag-icon-de flag-icon-squared"></i>German</a>
                                                    <a class="dropdown-item" href="#"><i
                                                            class="flag flag-icon-bl flag-icon-squared"></i>France</a>
                                                    <a class="dropdown-item" href="#"><i
                                                            class="flag flag-icon-ru flag-icon-squared"></i>Russian</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="settingbar">
                                            <a href="javascript:void(0)" id="infobar-settings-open"
                                                class="infobar-icon">
                                                <span class="iconbar"><i class="ri-settings-3-line"></i></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="notifybar">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle infobar-icon" href="#" role="button"
                                                    id="notoficationlink" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <span class="iconbar"><i class="ri-notification-3-line"></i><span
                                                            class="live-icon"></span></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="notoficationlink">
                                                    <div class="notification-dropdown-title">
                                                        <h5>Notifications<a href="#">Clear all</a></h5>
                                                    </div>
                                                    <ul class="list-unstyled">
                                                        <li class="media dropdown-item">
                                                            <span class="action-icon badge badge-primary"><i
                                                                    class="ri-archive-line"></i></span>
                                                            <div class="media-body">
                                                                <h5 class="action-title">Product Added</h5>
                                                                <p><span class="timing">Today, 08:40 AM</span></p>
                                                            </div>
                                                        </li>
                                                        <li class="media dropdown-item">
                                                            <span class="action-icon badge badge-success"><i
                                                                    class="ri-price-tag-3-line"></i></span>
                                                            <div class="media-body">
                                                                <h5 class="action-title">Sale Started</h5>
                                                                <p><span class="timing">Today, 03:45 PM</span></p>
                                                            </div>
                                                        </li>
                                                        <li class="media dropdown-item">
                                                            <span class="action-icon badge badge-warning"><i
                                                                    class="ri-file-text-line"></i></span>
                                                            <div class="media-body">
                                                                <h5 class="action-title">Kelly Reported</h5>
                                                                <p><span class="timing">5 June 2020, 02:20 PM</span></p>
                                                            </div>
                                                        </li>
                                                        <li class="media dropdown-item">
                                                            <span class="action-icon badge badge-danger"><i
                                                                    class="ri-file-user-line"></i></span>
                                                            <div class="media-body">
                                                                <h5 class="action-title">John Resigned</h5>
                                                                <p><span class="timing">2 June 2020, 11:11 AM</span></p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="notification-dropdown-footer">
                                                        <h5><a href="#">See all</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="profilebar">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="profilelink"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><img src="assets/images/users/profile.svg"
                                                        class="img-fluid" alt="profile"><span class="live-icon">John
                                                        D</span></a>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="profilelink">
                                                    <a class="dropdown-item" href="#"><i class="ri-user-6-line"></i>My
                                                        Profile</a>
                                                    <a class="dropdown-item" href="#"><i
                                                            class="ri-mail-line"></i>Email</a>
                                                    <a class="dropdown-item" href="#"><i
                                                            class="ri-settings-3-line"></i>Settings</a>
                                                    <a class="dropdown-item text-danger" href="#"><i
                                                            class="ri-shut-down-line"></i>Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End col -->
                    </div>
                    <!-- End row -->
                </div>



                <!-- Start Logobar -->
                <div class="logobar">
                    <a href="index.html" class="logo logo-large"><img src="assets/images/logo.jpg" class="img-fluid"
                            alt="logo"></a>
                    <a href="index.html" class="logo logo-small"><img src="assets/images/small_logo.jpg"
                            class="img-fluid" alt="logo"></a>
                </div>
                <!-- End Logobar -->
                <!-- Start Navigationbar -->
                <div class="navigationbar">
                    <ul class="vertical-menu">
                        <li>
                            <a href="/">
                                <i class="ri-dashboard-line"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/systemhealth">
                                <i class="dripicons-meter"></i><span>System Health</span>
                            </a>
                        </li>
                        <li>
                            <a href="machine-health.html">
                                <i class="dripicons-clipboard"></i><span>Machine Status</span>
                            </a>
                        </li>
                        <li>
                            <a href="historical-data.html">
                                <i class="fa fa-database"></i><span>Historical Data</span>
                            </a>
                        </li>
                        <li>
                            <a href="/real-alert">
                                <i class="mdi mdi-alert-box"></i><span>Real-time Alerts</span>
                            </a>
                        </li>
                        <li>
                            <a href="notification">
                                <i class="feather icon-bell"></i><span>Notification</span>
                            </a>
                        </li>
                        <li>
                            <a href="/energyconsumption">
                                <i class="feather icon-box"></i><span>Energy Consumption</span>
                            </a>
                        </li>
                        <li>
                            <a href="/machine-utilization">
                                <i class="feather icon-refresh-cw"></i><span>Machine Utilization</span>
                            </a>
                        </li>
                        <li>
                            <a href="/generate-report">
                                <i class="feather icon-printer"></i><span>Generate Report</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="rightbar">

            <main id="main" class="main"
                style="align-items: center; justify-content: center; display: flex; flex-direction: column; margin: 85px;">
                <h1>Generate Report</h1>
                <div class="col-lg-0">
                    <div class="card m-b-30">
                        <div class="card-header" style="text-align: center;">
                            <h3>Historical Status</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive m-b-30">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Time(hour)</th>
                                            <th scope="col">machine-A</th>
                                            <th scope="col">machine-B</th>
                                            <th scope="col">machine-C</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">11</th>
                                            <td>79%</td>
                                            <td>85%</td>
                                            <td>83%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>78%</td>
                                            <td>83%</td>
                                            <td>87%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>81%</td>
                                            <td>89%</td>
                                            <td>86%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>81%</td>
                                            <td>89%</td>
                                            <td>86%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>81%</td>
                                            <td>89%</td>
                                            <td>86%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>81%</td>
                                            <td>89%</td>
                                            <td>86%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">9</th>
                                            <td>81%</td>
                                            <td>89%</td>
                                            <td>86%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            
                <button class="print-button" onclick="printReport()">Print Report</button>
            
                <script>
                    function printReport() {
                        window.print();
                    }
                </script>
            
            </main>
            <!-- End #main -->
            <!-- Start col -->
            <!-- End col -->

            <!-- End row -->
        </div>
        <!-- End Contentbar -->

        <!-- Start Footerbar -->
        <div class="footerbar">
            <footer class="footer">
                <p class="mb-0">© 2020 Shapet - All Rights Reserved.</p>
            </footer>
        </div>
        <!-- End Footerbar -->
    </div>
    <!-- End Rightbar -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/vertical-menu.js"></script>
    <!-- Switchery js -->
    <script src="assets/plugins/switchery/switchery.min.js"></script>
    <!-- Flot Chart JS -->
    <script src="assets/plugins/flot-chart/jquery.flot.min.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="assets/plugins/flot-chart/jquery.colorhelpers.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.categories.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.errorbars.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.fillbetween.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.image.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.navigate.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.orderBars.min.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.selection.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.stack.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.symbol.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.threshold.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.canvas.js"></script>
    <script src="assets/plugins/flot-chart/curvedLines.js"></script>
    <script src="assets/plugins/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="assets/js/custom/custom-chart-flot.js"></script>
    <!-- Morris Chart js -->
    <script src="assets/plugins/morris/morris.min.js"></script>
    <script src="assets/plugins/raphael/raphael-min.js"></script>
    <script src="assets/js/custom/custom-chart-morris.js"></script>
    <!-- Core JS -->
    <script src="assets/js/core.js"></script>
    <!-- End js -->

    <!-- C3 Chart js -->
    <script src="assets/plugins/d3/d3.min.js"></script>
    <script src="assets/plugins/c3/c3.min.js"></script>
    <script src="assets/js/custom/custom-chart-c3.js"></script>

    <script>
        // Function to generate a random number and add it to the table
        function generateRandomNumber1() {
            var randomNumber = Math.floor(Math.random() * 1300 + 1); 
            var r1 = document.getElementById('r1');
            r1.innerText = randomNumber;
            function showNotification() {
                const notification =  new Notification("Your Machine Temperature is high! Please check your machine.",{
                    icon: 'https://img.icons8.com/material/2x/alert-triangle-ring.png'
                });
            }
            if (Notification.permission ==='granted') {
                
            } else if(Notification.permission !== 'denied') {
                Notification.requestPermission().then(permission =>{
                    if (permission ==='granted') {
                        showNotification();
                    }
                });
            }
            if(randomNumber>=1200){
                showNotification();
            }
        }
        generateRandomNumber1();



        function generateRandomNumber2() {
            var randomNumber = Math.floor(Math.random() * 100 + 1);
            var r2 = document.getElementById('r2');
            r2.innerText = randomNumber;
        }
        generateRandomNumber2();
        function generateRandomNumber3() {
            var randomNumber = Math.floor(Math.random() * 50 + 1);
            var r3 = document.getElementById('r3');
            r3.innerText = randomNumber;
        }
        generateRandomNumber3();
        function generateRandomNumber4() {
            var randomNumber = Math.floor(Math.random() * 50 + 1);
            var r4 = document.getElementById('r4');
            r4.innerText = randomNumber;
        }
        generateRandomNumber4();
        // Generate a random number initially

        // Continuously generate random numbers at intervals
        setInterval(generateRandomNumber1, 1000); // Change 1000 to desired interval in milliseconds
        setInterval(generateRandomNumber2, 1000); // Change 1000 to desired interval in milliseconds
        setInterval(generateRandomNumber3, 1000); // Change 1000 to desired interval in milliseconds
        setInterval(generateRandomNumber4, 1000); // Change 1000 to desired interval in milliseconds

        function generateRandomNumber5() {
            var randomNumber = Math.floor(Math.random() * 800 + 1);
            var d1 = document.getElementById('d1');
            d1.innerText = randomNumber;
        }
        generateRandomNumber5();
        setInterval(generateRandomNumber5, 1000); // Change 1000 to desired interval in milliseconds


        function generateRandomNumber6() {
            var randomNumber = Math.floor(Math.random() * 100 + 1);
            var c1 = document.getElementById('c1');
            c1.innerText = randomNumber;
        }
        generateRandomNumber6();
        setInterval(generateRandomNumber6, 1000); // Change 1000 to desired interval in milliseconds


        function generateRandomNumber7() {
            var randomNumber = Math.floor(Math.random() * 20 + 1);
            var c2 = document.getElementById('c2');
            c2.innerText = randomNumber;
        }
        generateRandomNumber7();
        setInterval(generateRandomNumber7, 1000); // Change 1000 to desired interval in milliseconds

    </script>
</body>

</html>